<style>
  .navbar-buttons {
    display: flex;
    gap: 15px;
  }
  .navbar-button {
    background-color: burlywood;
    color: whitesmoke;
    border: none;
    padding: 6px 10px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    margin-left:52px ;
  }
  .navbar-button:hover {
    background-color: grey;
  }
  h1{
    text-align: center;
    color: red;
    text-shadow: burlywood;
    font-style: italic;
  }

  .b1{
    margin-left:52px ;
  }

</style>


<h1 class="text-center mt-4" > Jobs For You </h1>

<h1 class="text-center mt-4" >  Listing all jobs </h1>



<span style="color:green"> <%= flash[:notice] %> </span>
<%= form_with url: "/search/job", method: :get do |form| %>
<div class = "b1>"

<%= form.label :title, "Search job by title:" %>
<%= form.text_field :title %>
<%= form.submit "Search" %>
<% end %>
</div><br>
<%= button_to "view profile", seeker_path(@current_user), method: :get,class: "navbar-button"  %>

<hr>
  <% @jobs.each do |job| %>
  <div class= "b1">
  <b>job ID :</b> <%= job.id %><br>
  <b> title :</b> <%= job.title %><br>
  <b>description :</b> <%= job.description %><br>
  <b>requirement :</b> <%= job.requirement %><br>
  <b>location:</b> <%= job.location %><br>
  <ul>
      <div >
        <small>Created <%= time_ago_in_words(job.created_at) %> ago</small>
      </div>
    </div>
    <%= button_to "Apply","/apply/job/#{job.id}", method: :get,class: "navbar-button"  %>




  </ul>
<hr>
<% end %>

