<marquee><h1 style="color: red;">Jobs For You</h1></marquee>
<h1 class="text-center mt-4" >  Listing all jobs </h1>



<span style="color:green"> <%= flash[:notice] %> </span>
  <%= form_with url: "/search/job", method: :get do |form| %>
  <%= form.label :title, "Search job by title:" %>
  <%= form.text_field :title %>
  <%= form.submit "Search" %>
<% end %>
<li><%= link_to "view profile", seeker_path(@current_user) %></li>

<hr>
  <% @jobs.each do |job| %>
   <b>job ID :</b> <%= job.id %><br>
  <b> title :</b> <%= job.title %><br>
  <b>description :</b> <%= job.description %><br>
  <b>requirement :</b> <%= job.requirement %><br>
   <b>location:</b> <%= job.location %><br>
 <ul>
  <li><%= link_to "Apply","/apply/job/#{job.id}" %>
    <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(job.created_at) %> ago</small>
          </div>


   </li>
</ul>
     <hr>
  <% end %>

