<style type="text/css">
  .abc {
    text-align: center;
    margin-top: 230px;
  }
  form{
    color: white;
    font-weight: bold;
  }
  .a{
    color: black;
  }

</style>


 <%= flash[:notice] %>
<%= form_with url: '/login', method: :post do |form| %>


<section class="vh-100 bg-image"
  style="background-image: url(<%= asset_path 'dream.jpg' %>); background-repeat: no-repeat; background-size: cover; background-position: center center">
<h1 align="center">Welcome to Jobs for you  </h1>
<div class="abc">
  <%= form.label :email %>
  <%= form.text_field :email %> <br><br>
  <%= form.label :password %>
  <%= form.text_field :password %> <br><br>
  <%= form.submit 'Login',class: 'btn btn-primary' %>



  <ul>

  <li><%= link_to  "Seeker sign up" ,new_seeker_path,class: "a"%></li>
  <li><%= link_to  "Recruiter sign up"  ,new_recruiter_path,class: "a"%></li>
</section>

</div>



<% end %>
