 HELLO RECRUITER



  <li><%= link_to "view profile", recruiter_path(@current_user) %></li>
  <li><%= link_to "your jobs  ","/view_job/#{@current_user.id}" %></li>




<hr>
<% @jobs.each do |job| %>
<b>job ID :</b> <%= job.id %><br>
<b> title :</b> <%= job.title %><br>
<b>description :</b> <%= job.description %><br>
<b>requirement :</b> <%= job.requirement %><br>
<b>location:</b> <%= job.location %><br>

<hr>
<% end %>
